@import 'tailwindcss';

@source "../../../**/*.{html,py,js}";

@theme {
  --color-primary: #565344;
  --color-muted: #c5c1c1;
  --color-background: #2c2d27;
  --color-accent: #a0947e;
  --color-deep: #13140f;
}
