{% load static %}
<div class="bg-background text-white">
  <div class="container space-y-4">
    <h2 class="text-xl font-bold">Sobre mí</h2>
    <div class="space-y-8">
      <p>
          <img src="{% static 'images/sentada-laptop.jpeg' %}" alt="Eva Estévez" class="size-32 md:size-48 object-cover rounded-full float-right ml-4 border-2 border-accent">
          Soy Ingeniera Electrónica y de Comunicaciones con una pasión creciente por la gestión de proyectos. Con un Máster
          en Alta Gerencia y diversos cursos y diplomados, he desarrollado habilidades clave que me han permitido
          destacarme en este campo.
      </p>
      <p>
          Actualmente, tengo el privilegio de canalizar mi pasión como profesora en INTEC, donde enseño formulación, evaluación y gestión de proyectos, además de instruir a los estudiantes en el uso de MS Project para proyectos de ingeniería.
      </p>
      {% if request.resolver_match.url_name == 'about' %}
        <div class="hidden md:block">
          <p>
            Mi experiencia profesional incluye roles de liderazgo en los Laboratorios de Ingeniería de INTEC, donde he aplicado mis conocimientos en entornos reales y participado activamente en una variedad de proyectos.
          </p>
          <p>
            Comprometida con mi desarrollo profesional, estoy entusiasmada por seguir avanzando en la gestión de proyectos y utilizar mis habilidades para generar un impacto positivo. Busco constantemente nuevas oportunidades y conexiones que me permitan continuar aprendiendo y contribuyendo en este apasionante ámbito.
          </p>
        </div>
      {% endif %}
    </div>
    {% if request.resolver_match.url_name != 'about' %}
      <a href="{% url 'about' %}">
        {% include 'components/secondary-button.html' with button_text='Leer más' button_classes='my-4' %}
      </a>
    {% endif %}
  </div>
</div>
