{% load static %}
<div class="bg-background text-white">
    <div class="container space-y-8 min-h-screen">
        <h5 class="text-xl font-bold">Contacto</h5>
        <div class="flex flex-col gap-4">
            <a href="">
                {% include 'components/primary-button.html' with button_text='WhatsApp' button_classes='w-full' %}
            </a>
            <a href="">
                {% include 'components/primary-button.html' with button_text='Email' button_classes='w-full' %}
            </a>
        </div>
    </div>
</div>