<div class="bg-background text-white">
    <div class="container space-y-8">
        <h5 class="text-xl font-bold">Experiencia</h5>
        <div class="md:flex flex-row">
            <div class="relative border-l-2 border-deep max-w-lg">

                <!-- Entry -->
                <div class="mb-10 ml-6">
                  <div class="absolute w-4 h-4 bg-accent rounded-full -left-2 border-3 border-deep"></div>
                  <div class="bg-background p-4 rounded-lg drop-shadow-2xl">
                    <h3 class="font-semibold">Ingeniera Electrónica y de Comunicaciones</h3>
                    <p class="text-xs">Instituto Tecnológico de Santo Domingo (INTEC)</p>
                    <p class="text-xs text-accent">Enero 2018 - Diciembre 2022</p>
                    <p class="mt-2 text-sm text-muted">
                      Participación activa en proyectos de investigación y desarrollo, con enfoque en telecomunicaciones y automatización.
                    </p>
                  </div>
                </div>
            
                <!-- Entry -->
                <div class="mb-10 ml-6">
                  <div class="absolute w-4 h-4 bg-accent rounded-full -left-2 border-3 border-deep"></div>
                  <div class="bg-background p-4 rounded-lg drop-shadow-2xl">
                    <h3 class="font-semibold">Especialista en Gestión de Proyectos</h3>
                    <p class="text-xs">Instituto Tecnológico de Santo Domingo (INTEC)</p>
                    <p class="text-xs text-accent">Marzo 2023 - Actualidad</p>
                    <p class="mt-2 text-sm text-muted">
                      Liderazgo de equipos, planificación estratégica y ejecución de proyectos tecnológicos en distintos sectores.
                    </p>
                  </div>
                </div>
              </div>
              {% include 'components/skills.html' %}
        </div>
    </div>
</div>