{% load static %}
<article class="container space-y-8">
        <h1 class="text-5xl">{{ post.title }}</h1>
        <div class="flex items-center gap-4">
            {% if post.author.avatar %}
                <img class="object-cover object-center size-16 shrink-0 rounded-full" src="{{ post.author.avatar.url }}" alt="{{ post.author.full_name }}">
            {% else %}
                <span class="bg-deep text-muted text-xl rounded-full size-16 flex items-center justify-center">{{ post.author.initials }}</span>
            {% endif %}
            <div class="text-xs flex flex-col">
                <span class="font-bold">{{ post.author.full_name }}</span>
                <span>{{ post.author.profession }}</span>
                <time class="text-muted">{{ post.published_at|date:"j \\d\\e F \\d\\e\\l Y" }}</time>
            </div>
        </div>
        {% if post.cover_image %}
            <img class="h-64 md:h-96 w-screen max-w-none -mx-8 md:w-full md:-mx-0 md:rounded object-cover object-center" src="{{ post.cover_image.url }}" alt="{{ post.title }}">
        {% else %}
        {% endif %}
        
        <span class="divider"></span>
        <div class="text-justify space-y-8">
            <p>{{ post.content }}</p>
        </div>
        <span class="divider"></span>
        {% include 'components/share.html' %}
    </article>