{% load static %}
<span class="font-bold">Compártelo!</span>
<div class="flex gap-4 mt-4">
    <a href="">
        <div class="size-10 p-2 border border-white rounded-full flex items-center justify-center cursor-pointer">
            <img class="w-full h-full object-contain" src="{% static 'src/icons/x-logo.svg' %}" alt="X">
        </div>
    </a>
    <a href="">
        <div class="size-10 p-2 border border-white rounded-full flex items-center justify-center cursor-pointer">
            <img class="w-full h-full object-contain" src="{% static 'src/icons/linkedin-logo.svg' %}" alt="LinkedIn">
        </div>
    </a>
    <a href="">
        <div class="size-10 p-2 border border-white rounded-full flex items-center justify-center cursor-pointer">
            <img class="w-full h-full object-contain" src="{% static 'src/icons/facebook-logo.svg' %}" alt="Facebook">
        </div>
    </a>
    <a href="">
        <div class="size-10 p-2 border border-white rounded-full flex items-center justify-center cursor-pointer">
            <img class="w-full h-full object-contain" src="{% static 'src/icons/instagram-logo.svg' %}" alt="Instagram">
        </div>
    </a>
</div>