{% load static %}
<div class="bg-background text-white">
    <div class="container space-y-8">
        <h5 class="text-xl font-bold">Testimonios</h5>
        <div class="flex flex-col items-center">
            <div class="relative size-64 rounded-full overflow-hidden">
                <img class="object-cover object-center w-full h-full" src="{% static 'images/frente-camara.jpeg' %}" alt="">
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent opacity-60"></div>
            </div>
            <p class="text-3xl text-center -translate-y-12">"Eva es una profesional excepcional. Su dedicación y habilidades en gestión de proyectos son admirables."</p>
            <span class="text-xs text-muted -translate-y-6">Fulana de tal, la papa upa</span>
        </div>
    </div>
</div>