{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Eva Estévez</title>
    <meta name="description" content="Sitio web oficial de Eva Estévez - Project Manager" />
    <meta
      name="keywords"
      content="Project Management, Docencia, Ingeniería, Proyectos, Administración, Santo Domingo, República Dominicana"
    />

    <meta property="title" content="Eva Estévez" />
    <meta property="description" content="Sitio web oficial de Eva Estévez - Project Manager" />
    <meta property="type" content="website" />
    <meta property="url" content="https://eva.covez.net" />
    <meta property="image" content="{% static 'logo.png' %}" />
    
    <!-- Favicon / App Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    
    {% tailwind_css %}
  </head>
  <body class="bg-background text-white flex flex-col min-h-full">
    {% include 'components/header.html' %}

    <main class="flex-1">{% block content %}{% endblock %}</main>

    {% include 'components/footer.html' %}
    <script src="{% static 'src/main.js' %}"></script>
  </body>
</html>
