<nav id="navMenu" class="{{ nav_classes }}">
  <ul class="flex flex-col gap-4 text-center {{ nav_list_classes}}">
    <li>
      <a href="https://eva.covez.net">Inicio</a>
    </li>
    <li>
      <a href="https://eva.covez.net/about">Sobre mí</a>
    </li>
    <li>
      <a href="https://eva.covez.net/experience">Experiencia</a>
    </li>
    <li>
      <a href="https://eva.covez.net/blog">Blog</a>
    </li>
    <li>
      <a href="https://eva.covez.net/contact">Contacto</a>
    </li>
  </ul>
</nav>
